[submodule "Djinn/vendor/spdlog"]
	path = Djinn/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Djinn/vendor/GLFW"]
	path = Djinn/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Djinn/vendor/imgui"]
	path = Djinn/vendor/imgui
	url = https://github.com/TheCherno/imgui
